<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="bunnybot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="SerialID" value="12345"/>
    <add key="TokenID" value="67890"/>
    <add key="MSNUsername" value="user@hotmail.com"/>
    <add key="MSNPassword" value="abc123"/>
    <add key="MSNMessage" value="I can tell jokes: #joke#"/>
    <add key="RandomNames" value="Rob,Pete,Kirsty,Dave,Luke,Steve,Rich"/>
    <add key="MessageTemplates" value="Tea,Milk,Cookie"/>
    <add key="TeaMessage" value="#bunnyname# thinks it's time for #randomname# to make the tea"/>
    <add key="MilkMessage" value="#bunnyname# thinks it's #randomname#'s turn to buy the milk"/>
    <add key="CookieMessage" value="#bunnyname# thinks #randomname# should buy some cookies"/>
  </appSettings>
  <applicationSettings>
    <bunnybot.Properties.Settings>
      <setting name="bunnybot_Quote_QuoteofTheDay" serializeAs="String">
        <value>http://www.swanandmokashi.com/HomePage/WebServices/QuoteOfTheDay.asmx</value>
      </setting>
      <setting name="bunnybot_Jokes_getJoke" serializeAs="String">
        <value>http://www.interpressfact.net/webservices/getJoke.asmx</value>
      </setting>
    </bunnybot.Properties.Settings>
  </applicationSettings>
</configuration>
